body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td {
    margin: 0;
    padding: 0
}
body,html,form {
    margin : 0;
    padding: 0;
    color:#FFF;
    background:#000;
    -webkit-text-size-adjust:none;
}
a, a:link, a:visited, a:hover, a:active {cursor: pointer;text-decoration:none; color:#FFF;}
.app_main .bg_pic{ display:block; max-width:100%; width:100%;}

.app_main{ background:#fff; position:relative;}
.app_main .btn_pic img{}
.app_main .btn_back{ width:8.75%; height:4.54%; position:absolute; bottom:3%; left:1.86%;}
.app_main .btn_close{ width:9.69%; height:7.42%; position:fixed; top:1.19%; right:1.56%;}
.app_main .btn_ind{ display:block; width:70.12%; height:19.74%; line-height:0; font-size:0; background:url(#); position:absolute;}
.app_main .btn_ind04{ top:80.96%; left:25.93%;}
.app_main .btn_exp{ display:block; width:40.12%; height:5.74%; line-height:0; font-size:0; background:url(#); position:absolute;}
.app_main .btn_exp3{ top:63.96%; left:5.18%;}
.app_main .btn_exp4{ top:63.96%; left:52.18%;}
.app_main .btn_xq{ display:block; width:60.12%; height:19.74%; line-height:0; font-size:0; background:url(#); position:absolute;}
.app_main .btn_xq05{ top:77.96%; left:25.93%;}
.app_main .btn_zj{ display:block; width:80.12%; height:22.74%; line-height:0; font-size:0; background:url(#); position:absolute;}
.app_main .btn_zj05{ top:66.96%; left:25.93%;}
.app_main .btn_sc{ display:block; width:80.12%; height:22.74%; line-height:0; font-size:0; background:url(#); position:absolute;}
.app_main .btn_sc06{ top:77.96%; left:25.93%;}
.app_main .btn_tj{ display:block; width:80.12%; height:22.74%; line-height:0; font-size:0; background:url(#); position:absolute;}
.app_main .btn_tj07{ top:67.96%; left:25.93%;}

img {
    border: 0;
    max-width: 100%;
}

.ui-btn-group-customized {
    padding: 0 .53em;
}
.ui-btn-customized {
    width: 100px !important;
    background-color: #cc1137 !important /*#ededed{a-bhover-background-color}*/;
    border-color: #606060 /*#ddd{a-bhover-border}*/;
    margin: 10px auto !important;
    float: center !important;
    color: #f8e7b8 !important /*#333{a-bhover-color}*/;
}
.ui-btn-next-custom {
    width: 110px;
    height: 40px;
    float: right !important;
    margin-right: 5px !important;
    border-style:none!important;
    background: url('../images/next.png') no-repeat!important;
    cursor:pointer;
}
.ui-btn-back-custom {
    width: 100px;
    height: 40px;
    float: left !important;
    margin-left: 5px !important;
    border-style:none!important;
    background: url('../images/back.png') no-repeat!important;
    cursor:pointer;
}
.ui-btn-detail-custom {
    width: 100px;
    height: 40px;
    float: left !important;
    margin-left: 5px !important;
    border-style:none!important;
    background: url('../images/detail.png') no-repeat!important;
    cursor:pointer;
}
.ui-btn-submit-custom {
    width: 110px;
    height: 40px;
    float: right !important;
    margin-right: 5px !important;
    border-style:none!important;
    background: url('../images/submit.png') no-repeat!important;
    cursor:pointer;
}
.ui-btn-close-custom {
    width: 130px !important;
    height: 40px;
    margin: 10px auto !important;
    float: center !important;
    border-style:none!important;
    background: url('../images/close.png') no-repeat!important;
    cursor:pointer;
}
.ui-btn-l-customized {
    background-color: #cc1137 !important /*#ededed{a-bhover-background-color}*/;
    border-color: #606060 /*#ddd{a-bhover-border}*/;
    float: left !important;
    margin-left: 20px !important;
    color: #f8f1ef !important /*#333{a-bhover-color}*/;
}
.ui-btn-r-customized {
    background-color: #cc1137 !important /*#ededed{a-bhover-background-color}*/;
    border-color: #606060 /*#ddd{a-bhover-border}*/;
    float: right !important;
    margin-right: 20px !important;
    color: #f8f1ef !important /*#333{a-bhover-color}*/;
}
.ui-radio-label-customized {
    background-color: #52151A !important /*#ededed{a-bhover-background-color}*/;
}
.ui-input-purchase-code {
    width: 35%;
    margin: 0 auto;
    float: center;
}
.ui-input-cellphone {
    width: 50%;
    margin: 0 auto;
    float: center;
}
.ui-input-text-customized {
    background: white !important;
}
.ui-input-label-customized {
    color: #f8e7b8 !important;
}
.ui-dialog-background-customized {
    background-color:  #52151A !important;
}
.ui-dialog-content-background-customized {
    background-color: #161414 !important
}
.ui-dialog-message-customized {
    width: 90% !important;
    margin: 20px auto !important;
    float: center !important;
}
.ui-field-contain-custom {
    margin: 0 0 !important;
}
